# WordPress Coding Standards Specify that tabs should be used
# https://make.wordpress.org/core/handbook/best-practices/coding-standards/php/#indentation

# WordPress Coding Standards specify that trailing whitespace should be removed
# https://make.wordpress.org/core/handbook/best-practices/coding-standards/php/#remove-trailing-spaces


[*]
indent_style = tab
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
